<mat-card class="card-class">
 <mat-card-header>
    <mat-card-title> Sagar Chaugule</mat-card-title>
    <mat-card-subtitle>Angular 15-16 tutorials</mat-card-subtitle>
 </mat-card-header>
 <img style="margin-left: 30%;" mat-card-sm-image src="https://angular.io/assets/images/logos/angular/shield-large.svg">
<mat-card-content>
  <p>
    Angular is an application-design framework and development platform for creating efficient and sophisticated single-page apps.
  </p>
</mat-card-content>
<mat-card-actions>
    <button mat-button><mat-icon>thumb_up</mat-icon>Like</button>
    <button mat-button><mat-icon>share</mat-icon>Shere</button>
    <button mat-button><mat-icon>subscriptions</mat-icon>Subscribe</button>
</mat-card-actions>
<mat-card-footer></mat-card-footer>
</mat-card>

<mat-card class="card-class">
    <mat-card-header>
       <mat-card-title> Sagar Chaugule</mat-card-title>
       <mat-card-subtitle>Angular 15-16 tutorials</mat-card-subtitle>
    </mat-card-header>
    <img style="margin-left: 30%;" mat-card-sm-image src="https://angular.io/assets/images/logos/angular/shield-large.svg">
   <mat-card-content>
     <p>
       Angular is an application-design framework and development platform for creating efficient and sophisticated single-page apps.
     </p>
   </mat-card-content>
   <mat-card-actions>
       <button mat-button><mat-icon>thumb_up</mat-icon>Like</button>
       <button mat-button><mat-icon>share</mat-icon>Shere</button>
       <button mat-button><mat-icon>subscriptions</mat-icon>Subscribe</button>
   </mat-card-actions>
   <mat-card-footer></mat-card-footer>
   </mat-card>

   <mat-card class="card-class">
    <mat-card-header>
       <mat-card-title> Sagar Chaugule</mat-card-title>
       <mat-card-subtitle>Angular 15-16 tutorials</mat-card-subtitle>
    </mat-card-header>
    <img style="margin-left: 30%;" mat-card-sm-image src="https://angular.io/assets/images/logos/angular/shield-large.svg">
   <mat-card-content>
     <p>
       Angular is an application-design framework and development platform for creating efficient and sophisticated single-page apps.
     </p>
   </mat-card-content>
   <mat-card-actions>
       <button mat-button><mat-icon>thumb_up</mat-icon>Like</button>
       <button mat-button><mat-icon>share</mat-icon>Shere</button>
       <button mat-button><mat-icon>subscriptions</mat-icon>Subscribe</button>
   </mat-card-actions>
   <mat-card-footer></mat-card-footer>
   </mat-card>