<mat-toolbar color="primary" class="mat-elevation-z8">
    <button (click)="drawer.toggle()" mat-icon-button>
        <mat-icon>menu</mat-icon>
    </button>
    <span>Material UI Angular 15-16</span>
    <span class="example-spacer"></span>
    <button mat-raised-button color="primary" mat-button routerLink="">Home</button>
    <button mat-raised-button color="primary" [matMenuTriggerFor]="lvlimaster" mat-button>Master</button>
    <mat-menu #lvlimaster="matMenu">
        <button [matMenuTriggerFor]="compeny" mat-menu-item>Compeny</button>
        <button [matMenuTriggerFor]="costomer" mat-menu-item>Costomer</button>
        <button [matMenuTriggerFor]="product" mat-menu-item>Product</button>
    </mat-menu>

    <mat-menu #compeny="matMenu">
        <button  mat-menu-item>term</button>
        <button  mat-menu-item>tax</button>
        <button  mat-menu-item>Currency</button>
    </mat-menu>
    <mat-menu #costomer="matMenu">
        <button  mat-menu-item>Costomer Type</button>
        <button  mat-menu-item>tax</button>
    </mat-menu>

    <mat-menu #product="matMenu">
        <button  mat-menu-item>catagery</button>
        <button [matMenuTriggerFor]="veriant" mat-menu-item>varient</button>

        <mat-menu #veriant="matMenu">
            <button  mat-menu-item>Color</button>
            <button  mat-menu-item>size</button>
        </mat-menu>

        <button  mat-menu-item>UDM</button>
    </mat-menu>

    <button mat-raised-button color="primary" mat-button routerLink="input">Input</button>
    <button mat-raised-button color="primary" mat-button routerLink="autocomplete">Autocomplete</button>
    <button mat-raised-button color="accent" mat-button routerLink="autocomplete">Sign Up</button>
    <button (click)="badgevisibility()" mat-icon-button>
        <mat-icon matBadge="15" [matBadgeHidden]="badgevisble"  matBadgeSize="small" matBadgeColor="accent" mat-raised-button>notifications</mat-icon>
    </button>
</mat-toolbar>


<mat-drawer-container autosize>
    <mat-drawer #drawer opened="true" mode="side" position="start">
        <mat-nav-list>
            <mat-list-item>
                <button routerLink="card" mat-button><mat-icon>dashboard</mat-icon>Dashboard</button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button><mat-icon>home</mat-icon>Home</button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button><mat-icon>settings</mat-icon>Settings</button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button><mat-icon>help</mat-icon>Help</button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button><mat-icon>analytics</mat-icon>Analytics</button>
            </mat-list-item>
              <mat-list-item>
                <button routerLink="table" mat-button><mat-icon>table</mat-icon>Table data</button>
            </mat-list-item>
            <mat-list-item>
                <button routerLink="form" mat-button><mat-icon>login</mat-icon>Form</button>
            </mat-list-item>
        </mat-nav-list>  
    </mat-drawer>
    <mat-drawer-content>
        <div style="text-align: center; min-height: 600px;">
                <router-outlet></router-outlet>
        </div>
            
    </mat-drawer-content>
</mat-drawer-container>